@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    width: 950px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#main-header, #main-wrapper, #main-footer{
    border: 3px solid lightgrey;
}

#main-wrapper {
    background-image: url("../img/DS_ashen_one.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: scroll;
    max-height: 80vh;
    scroll-behavior: smooth;
}

#main-header {
    padding-top: 3rem;
    height: 80px;
    text-align: center;
}

#main-footer {
    height: 30px;
}

#main-header, #main-footer {
    background-image: url("../img/DS_sun.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#main-header {
    height: 80px;
}

#main-footer {
    height: 30px;
}
    
article h1, .test-elite-font{
    
    /* background: radial-gradient(rgb(255, 255, 255), rgb(15, 50, 75)) ; */
    padding: 5px;

    margin-left: 0.75rem;

    /* cf. la documentation en lie de Google Fonts */
    font-family: 'Special Elite', cursive; 

    color: white;
    font-size: 3em;
    text-shadow: 1px 1px 2px black;
}


article p, footer {
    font-family: 'Special Elite', cursive; 
    color: white;
    padding: 0 1rem 0 1.25rem;
}

article {
    padding-bottom: 1rem;
}

footer {
    text-align: center;
    padding-top: 1rem;
    font-size: 0.8rem;
}

#main-content {
    padding: 5px;
}

#main-wrapper {
    display: flex;
}
